Makefile
Makefile.old
*.tar.gz
*.bak
*.swp
pm_to_blib
blib/
WWW-Mechanize-Chrome-*
WWW-Mechanize-Chrome-*/
.releaserc
cover_db
firefox-versions/
chrome-versions/
MYMETA.*
frame-*.png
*.pl